/* ======================================
    [0] HTML5 Doctor Reset CSS
    [1] レイアウト要素
    [2] 記述要素
    [3] 各要素
    [-] レスポンシブ対応
======================================== */
/* **************************
  [0] HTML5 Doctor Reset CSS
************************** */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}
body {
line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
display:block;
}
nav ul {
list-style:none;
}
blockquote, q {
quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content:'';
content:none;
}
a {
margin:0;
padding:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}
ins {
background-color:#ff9;
color:#000;
text-decoration:none;
}
mark {
background-color:#ff9;
color:#000;
font-style:italic;
font-weight:bold;
}
del {
text-decoration: line-through;
}
abbr[title], dfn[title] {
border-bottom:1px dotted;
cursor:help;
}
table {
border-collapse:collapse;
border-spacing:0;
}
hr {
display:block;
height:1px;
border:0;
border-top:1px solid #ccc;
margin:1em 0;
padding:0;
}
input, select {
vertical-align:middle;
}
* {
    box-sizing: border-box;
}

/* **************************
  [1] レイアウト要素
************************** */
@font-face {
    font-family: 'Limelight';
    src: url('/webfonts/Limelight-Regular.woff') format("woff");
}
body {
    max-width: 100%;
    font-family: 'M PLUS Rounded 1c', 'Hiragino Kaku Gothic ProN', Meiryo, san-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    color: #60554b;
    background-color: #efe7da;
    background-image:
    radial-gradient(#ccc 1px, transparent 1px);
    background-size: 20px 20px;
}
header {
    width: 100%;
}
nav {
    width: 100%;
    padding-bottom: 20px;
    font-size: 1.2rem;
}
nav a {
    color: #fff;
    text-decoration: none;
}
nav a i {
    width: 1em;
    margin: 0 0.5em;
    text-align: center;
}
nav a .active {
    color: orange;
}
.wrapper {
    width: 100%;
    padding: 0 10px;
}
#content {
    width: 100%;
    display: flex;
    flex-direction: column;
}
#main {
    background: #fff;
    width: 100%;
    margin: 30px 0;
    padding: 10px;
    order:1;
}
#side {
    width: 100%;
    order:2;
    margin-bottom: 30px;
    padding: 20px 10px;
    background: #d6ad75;
    color: #fff;
}
footer {
    width: 100%;
    background: #555;
    color: #fff;
    text-align: center;
}

/* **************************
  [2] 記述要素
************************** */

/* **************************
  [3] 各要素
************************** */
/* header */
h1 {
    font-size: 2rem;
}
h1 a {
    color: #60554b;
    text-decoration: none;
}

/* main */

/* side */
#side section {
    padding-bottom: 20px;
}
.side-title {
    font-family: 'Limelight', cursive;
    font-size: 1.5rem;
}
.update-log-box {
    height: 8.5em;
    background: #fff;
    color: #60554b;
    overflow: scroll;
}

/* footer */
.copyright {
    padding: 1em 0;
    font-size: 12px;
}
/* **************************
  [4] SNS
************************** */
.sns {
    display: block;
}
.sns a {
    display: block;
    width: 50%;
    margin: 5px 1em;
    border-radius: 5px;
    padding: 0 15px 0 10px;
    font-weight: 700;
    text-decoration: none;
    line-height: 3;
    color: #fff;
    transition: all .3s;
}
.sns a:hover {
}
.sns a i {
    display: inline;
    margin-left: 1.5em;
    padding-right: 10px;
    font-weight: 900;
    font-size: 1.2em;
}
.sns a.twitter {
    background: #55acee;
}
.sns a.pixiv {
    background: #0096FA;
}
.sns a.niconico {
    background: #333;
}
.sns a.github {
    background: #333;
}

/* **************************
  [-] レスポンシブ対応
************************** */
/* タブレット端末 */
@media only screen and (min-width: 480px) {
    .wrapper {
        width: 100%;
        max-width: 1097px;
        margin: 0 auto;
    }
}
/* パソコン */
@media only screen and (min-width: 768px) {
    .wrapper {
        margin: 0 auto;
    }
    #content {
        flex-direction: row;
    }
    #main {
        flex: 1;
        margin: 0;
        padding: 20px 30px;
        order:2;
    }
    #side {
        width: 212px;
        margin: 0;
        padding: 20px 10px 200px;
        order:1;
    }
    /* Animation */
    nav a {
        display: block;
        position: relative;
        transition: all .5s;
    }
    nav a:hover {
        color: #333;
    }
    nav a:after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background: #fff;
        transform: scale(0, 1);
        transform-origin: left top;
        transition: transform .5s;
    }
    nav a:hover:after {
      transform: scale(1, 1);
      background: #333;
    }
    .sns a {
        width: 100%;
        margin: 5px auto;
    }
    .sns a:hover.twitter {
        color: #55acee;
        background: #fff;
    }
    .sns a:hover.pixiv {
        color: #0096FA;
        background: #fff;
    }
    .sns a:hover.niconico {
        color: #333;
        background: #fff;
    }
    .sns a:hover.github {
        color: #333;
        background: #fff;
    }
}
@media only screen and (min-width: 1440px) {
    .wrapper {
        max-width: 1400px;
    }
    #main {
        margin-right: 212px;
    }
}
/* Google Chrome */
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
    body {
        font-family: Meiryo, san-serif;
    }
    .side-title {
        font-family: cursive;
    }
}
